version: '3.8'
services:
  postgres:
    image: postgres:latest
    shm_size: 128mb
    environment:
      POSTGRES_DB: mydatabase
      POSTGRES_USER: myuser
      POSTGRES_PASSWORD: secret
    ports:
      - "5432:5432"

volumes:
  postgres-data:
    driver: local